@charset "utf-8";
/* CSS Document */

#anticrysis {
	margin-top: 20px;
	color: #333;
	font-size: 1.2em;
}
#anticrysis ul {
	margin-top: 2px;
	margin-left: 20px;
}
#anticrysis ul li {
	margin-top: 2px;
	margin-bottom: 2px;
}
