@charset "utf-8";
/* CSS Document */

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	font-weight: normal;
	color: #333;
	margin-bottom: 10px;
}
.imgright {
	float: right;
	margin-bottom: 20px;
	margin-left: 20px;
}
.imgleft {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
#company_caption {
	padding-left: 6px;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	padding-right: 6px;
}
#company {
	text-align: right;
}
#company_caption a {
	font-weight: normal;
}
.title {
	color: #FF3368;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.emphasised {
	font-weight: normal;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
}

#company_info {
	text-align: justify;
	font-size: 1.2em;
}
