@charset "utf-8";
/* CSS Document */

#sidebar {
	width: 220px;
	float: right;
}
#content {
	background-image: url(../images/content_splitter.png);
	background-repeat: repeat-y;
	background-position: right;
}

#main {
	float: left;
	width: 585px;
}
#sidebar #services {
	margin-top: 20px;
}

#sidebar .service {
	margin-bottom: 20px;
	text-align: left;
}
#sidebar .service img {
	display: block;
	margin-bottom: 5px;
}
#main .article {
	margin-bottom: 60px;
}
#main .article .article_caption {
	margin-bottom: 20px;
}
#main .article .article_content {
}
#sidebar #news {
	margin-top: 50px;
	text-align: left;
}
#sidebar .news_item {
	color: #2c2c2c;
	margin-bottom: 20px;
	text-align: left;
	line-height: 1.5em;
}
#sidebar .news_item a {
	font-weight: normal;
}
#sidebar .news_item h1 {
	font-size: 11px;
	margin-bottom: 2px;
	font-weight: bold;
	text-align: left;
}
#sidebar .news_item .date {
	color: #c5c5c5;
	font-size: 11px;
}
#main #ads_anticrysis {
	background-image: url(../images/ads_anticrysis.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 60px;
	width: 385px;
	padding-top: 40px;
	padding-right: 200px;
	font-size: 1.1em;
	color: #010101;
	font-weight: normal;
	cursor: pointer;
}

#offers {
	font-size: 1.2em;
}
#advantages {
	height: 144px;
	width: 545px;
	margin-top: 40px;
	margin-bottom: 40px;
	background-image: url(../images/advantages.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	color: #FFF;
	font-size: 1.2em;
	padding-top: 72px;
	padding-right: 22px;
	padding-bottom: 22px;
	padding-left: 18px;
	text-transform: uppercase;
	text-align: right;
	line-height: 28px;
}
#advantages p {
	margin-bottom: 0.3em;
}
#advantages strong {
	color: #FFF;
}

#main_left {
	float: left;
	width: 280px;
}
#main_middle {
	width: 265px;
	float: right;
}
#main_middle #desc {
	color: #333;
	text-align: justify;
	font-size: 1.1em;
	line-height: 1.5em;
}
#desc ul {
	margin-left: 14px;
	list-style-type: square;
}
#desc ul li {
	margin-bottom: 0.2em;
}

#portfolio {

}
#portfolio a {
	color: #999;


}
#portfolio a:hover {

}
#portfolio a.work_item{
	margin-bottom: 50px;
	display: block;
	margin-top: 50px;
}
#portfolio a.work_item img{
	width: 280px;
}
#portfolio a.work_item h4{
	color: #999;

}
#presentations {
	margin-top: 40px;
	font-weight: bold;
	color: #afafaf;
	font-size: 1em;
}
#presentations a {
	color: #000;
}
#presentations .presentation {
	margin-bottom: 8px;
}

#vacancies {
	margin-top: 40px;
}
#vacancies .vacancy {
	height: 20px;
	padding-left: 20px;
	background-image: url(../images/vacancy_icon.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#vacancies a {
	color: #f36;
}
#sidebar #steps {
	margin-top: 50px;
	text-align: justify;
}
#sidebar #steps h1 {
	font-size: 14px;
	font-weight: normal;
	color: #333;
	padding-bottom: 2px;
	padding-top: 10px;
}
#sidebar #steps p {
	padding-bottom: 14px;
}
