@charset "utf-8";
/* CSS Document */

#info {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 1.3em;
}
#info ul {
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 40px;
}
#info ul li {
	margin-top: 8px;
	margin-bottom: 8px;
}
#info p {
	margin-top: 8px;
	margin-bottom: 8px;
}
#info ol {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
#info ol li {
	margin-top: 8px;
	margin-bottom: 8px;
}
