@charset "utf-8";
/* CSS Document */

#lab {
	margin-bottom: 20px;
	color: #000;
	font-size: 1.2em;
	line-height: 120%;
	text-align: justify;
}
#lab ol {
	margin-left: 20px;
}
#lab ol li {
	margin-top: 4px;
	margin-bottom: 4px;
	text-align: left;
}


#lab p {
	margin-top: 12px;
	margin-bottom: 4px;
}
#lab ul {
	margin-left: 16px;
}
#lab ul li {
	margin-top: 4px;
	margin-bottom: 4px;
}
#lab a {
	color: #f36;
	text-decoration: none;
	font-weight: normal;
}
#lab a:hover {
	text-decoration: underline;
}
