@charset "utf-8";
/* CSS Document */

#info_block {
	float: left;
	width: 400px;
}
#order_steps {
	margin-left: 450px;
	text-align: justify;
}
#form {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	border: 1px dotted #CCC;
}
#orderForm fieldset {
	margin-bottom: 14px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#orderForm fieldset legend {
	color: #666;
	font-weight: bold;
}
#orderForm fieldset input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6em;
	font-weight: normal;
	color: #333;
	margin-top: 4px;
	border: 1px solid #F36;
	padding: 4px;
	width: 98%;
}
#form #orderForm fieldset textarea {
	border: 1px solid #F36;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6em;
	font-weight: normal;
	color: #333;
	margin-top: 4px;
	padding: 4px;
	width: 98%;
}
.img_bordererd {
	border: 1px solid #666;
}
