@charset "utf-8";
#works #work_details .meta {
	color: #666;
	font-weight: bold;
}

/* CSS Document */


#works #work_details .screenshot {
	border: 1px solid #666;
	margin-right: 40px;
	margin-bottom: 40px;
	float: left;
}
