@charset "utf-8";
/* CSS Document */

.service_type {
	width: 25%;
	float: left;
	font-size: 1.2em;
}

.service_caption {
	height: 40px;
	background-color: #000;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	font-size: 18px;
	padding-left: 4px;
	padding-top: 14px;
	text-transform: uppercase;
	margin-bottom: 4px;
}
.service_type_details {
	padding-right: 16px;
	padding-left: 4px;
}
.service {
	margin-top: 30px;
	color: #333;
}
.service .service_image {
	margin-bottom: 4px;
	margin-top: 0px;
	border: 1px solid #333;
}
#introduction {
	color: #333;
	font-size: 1.2em;
}
#introduction ul {
	margin-left: 14px;
}
#introduction .info {
	color: #CCC;
}
