@charset "utf-8";
/* CSS Document */

* {
	padding:0;
	margin:0;
}
.fltlft {
	float: left;
}
.fltrgt {
	float: right;
}
.clr {
	clear: both;
}
.clrlft {
	clear: left;
}
.clrrgt {
	clear: right;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2c2c2c;
	background-color: #000;
}
a {
	color: #484848;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

#wrapper {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
#main {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	background-image: url(../images/bg_center.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#main #logo {
	position: absolute;
	left: 0px;
	top: 0px;
}
#main #menu_news {
	position: absolute;
	height: 40px;
	width: 113px;
	left: 191px;
	top: 55px;
}
#main #menu_songs {
	position: absolute;
	height: 40px;
	width: 86px;
	top: 47px;
	left: 364px;
}
#main #menu_photo {
	position: absolute;
	height: 45px;
	width: 88px;
	left: 500px;
	top: 37px;
}
#main #menu_band {
	position: absolute;
	height: 43px;
	width: 138px;
	left: 626px;
	top: 29px;
}
#main #word_index {
	margin-top: 50px;
	margin-bottom: 50px;
	padding-right: 14px;
	padding-left: 14px;
	text-align: justify;
	clear: both;
}
#main #footer {
	color: #3b3b3b;
	margin-bottom: 100px;
	padding-right: 14px;
	padding-left: 14px;
	margin-top: 50px;
}
#main #footer #bottom_menu {
	float: left;
	width: 330px;
	padding-right: 30px;
	font-size: 14px;
	color: #2c2c2c;
	line-height: 30px;
}
#main #footer #bottom_menu a {
	color: #484848;
	text-decoration: none;
	font-weight: normal;
}
#main #footer #bottom_menu a:hover {
	text-decoration: none;
	color: #5b5b5b;
}
#main #footer #adresvseti {
	float: right;
	width: 230px;
	padding-left: 90px;
	background-image: url(../images/adresvseti_logo.png);
	background-repeat: no-repeat;
	background-position: 12px top;
}
#main #footer #adresvseti a {
	font-weight: bold;
	color: #505050;
}

#main #footer #footer_info {
	padding-right: 30px;
	padding-left: 30px;
	margin-left: 360px;
	margin-right: 320px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #242424;
	border-left-color: #242424;
	text-align: justify;
}
#main #content {

}
