@charset "utf-8";
#main .vcard {
	position: relative;
	padding: 0;
	line-height: 150%;
}
.vcard a {
	color: #0066cc;
}

/* POLDEN.info card page */



.vcard .card-info {
	overflow: hidden;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
}
.card-info .card-onmap {
	float: right;
	display: inline;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 268px;
	width: 311px;
}
.card-info .card-onmap img {
	height: 266px;
	border: 1px solid #a1a1a1;
}
.card-info .card-text {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
	padding-bottom: 6px;
	margin-right: 321px;
	position: relative;
	margin-left: 30px;
	height: 121px;
}
.card-info .card-text .card-banner {
	float: right;
	height: 38px;
	display: inline;
}
.card-info .card-text .card-date {
	font-size: 90%;
	color: #999;
	display: inline;
	float: right;
	margin-right: 30px;
}

.card-info .card-text h1 {
	font-size: 140%;
	line-height: normal;
	margin-top: 0px;
	margin-bottom: 0.3em;
}
.card-info .card-text h1 a {
	color: #000;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #000;
}
.card-info .card-text h1 a:hover {
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.card-info .card-text h1 .icon {
	background-position: 0px -192px;
	width: 5px;
	margin-left: 2px;
	
	/* display-block hack from http://blog.grakhov.com/post/99406348/inline-block */
    min-height: 20px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: bottom;
    zoom: 1;
    *display: inline;
    _height: 20px;
}

.card-info .card-text h2 {
	font-size: 100%;
	margin-top: 0px;
	margin-bottom: 0.8em;
	line-height: normal;
}
.card-info .card-text .card-desc {
	color: #666666;
	line-height: 140%;
	overflow: hidden;
	height: 48px;
}
.card-info .card-text .card-categories {
	list-style-type: none;
	overflow: hidden;
	height: 18px;
}
.card-info .card-text   .card-categories li{
	float: left;
	display: inline;
	color: #999999;
	font-size: 90%;
	margin-right: 0.2em;
}
.card-info .card-text .card-categories li a {
	color: #999;
}
.card-info .card-photos {
	float: right;
	width: 144px;
	padding-left: 30px;
	position: relative;
	padding-top: 4px;
}
.card-info .card-photos .photo {
	margin-bottom: 10px;
	height: 96px;
}
.card-info .card-photos .button.more {
	display: block;
	font-size: 110%;
	line-height: normal;
	height: 29px;
}
.card-info .card-photos .add-photo {
	position: absolute;
	height: 24px;
	width: 26px;
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	background-position: 0px -1000px;
	left: 0px;
	top: 76px;
	text-indent: -1000em;
}



.card-info .card-contacts {
	margin-right: 495px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	padding-bottom: 6px;
	margin-left: 30px;
	position: relative;
}
.card-info .card-contacts .card-officeslink {
	color: #666;
	font-size: 90%;
	white-space: nowrap;
}

.card-info .card-contacts .card-officeslink .icon {
	background-position: 0px -295px;
	width: 5px;
	margin-left: 2px;
	
	/* display-block hack from http://blog.grakhov.com/post/99406348/inline-block */
    min-height: 15px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: bottom;
    zoom: 1;
    *display: inline;
    _height: 15px;
}

.card-info .card-contacts h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 120%;
	position: relative;
	overflow: visible;
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	background-position: 3px -399px;
	padding-left: 30px;
	padding-top: 0px;
	left: -30px;
	overflow: hidden;
	/*white-space: nowrap; Scale bug fix */
}
.card-info .card-contacts h2 i {
	font-style: normal;
	font-size: 80%;
	color: #666666;
	margin-right: 0.5em;
}

.card-info .card-contacts .contacts-phones {
	list-style-type: none;
	margin-bottom: 10px;
	position: relative;
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	background-position: 3px -500px;
	padding-left: 30px;
	left: -30px;
}
.card-info .card-contacts .contacts-phones li {
	color: #000;
	margin-bottom: 0.5em;
	line-height: normal;
}
.card-info .card-contacts .contacts-phones li i {
	font-style: normal;
	color: #666666;
}
.card-info .card-contacts .contacts-phones li i a {
	color: #666;
}
.card-info .card-contacts .contacts-internet {
	padding-left: 30px;
	list-style-type: none;
	overflow: hidden;
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	background-position: 3px -600px;
	position: relative;
	left: -30px;
	height: 16px;
}
.card-info .card-contacts .contacts-internet li {
	float: left;
	color: #cccccc;
	display: inline;
	margin-right: 0.3em;
	white-space: nowrap;
}
.card-info .card-workingtime {
	padding-left: 30px;
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	background-position: 3px -696px;
	list-style-type: none;
	margin-top: 6px;
}
.card-info .card-workingtime li {
	margin-bottom: 0.5em;
	font-size: 110%;
	color: #000;
}
.card-info .card-workingtime li i {
	font-size: 80%;
	color: #666;
	font-style: normal;
}
.card-info .card-workingtime li i a {
	color: #666;
}
.card-info i .icon.more {
	background-position: 0px -795px;
	width: 5px;
	
	/* display-block hack from http://blog.grakhov.com/post/99406348/inline-block */
    min-height: 15px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    _height: 15px;
}





.vcard .tag.card-tag {
	position: absolute;
	left: 10px;
	top: 12px;
	width: 18px;
	padding-right: 1px;
	padding-left: 1px;
}
.vcard .card-checkbox {
	position: absolute;
	left: 13px;
	top: 36px;
}
.vcard .card-checkbox input {
	width: 13px;
	height: 13px;
}
.vcard .card-reviews {
	clear: right;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	margin-right: 10px;
	margin-left: 40px;
	position: relative;
	overflow: visible;
}
.vcard .card-reviews a{
	color: #1a3dc1;
}
.vcard .card-reviews .add-review {
	font-size: 110%;
}
.vcard .card-reviews .review-details {
	color: #333;
}
.vcard .card-reviews .reviews-tag {
	position: absolute;
	left: -28px;
	top: 2px;
	padding-right: 1px;
	padding-left: 1px;
	width: 18px;
}
.vcard .card-offices {
	margin-top: 10px;
}
.vcard .card-offices h2 {
	font-size: 130%;
	margin-right: 10px;
	margin-left: 10px;
	padding-left: 30px;
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	background-position: 3px -399px;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: normal;
	height: 1%; /* Flickering bg fix for IE6 */
}
.vcard .card-offices h2 a {
	color: #000;
}

.vcard .card-offices h2 i {
	font-size: 90%;
	font-style: normal;
	color: #666;
}
.vcard .card-offices h2 i a {
	color: #666;
}
.vcard .card-offices h2 .icon {
	background-position: 0px -195px;
	width: 5px;
	margin-left: 2px;
	
	/* display-block hack from http://blog.grakhov.com/post/99406348/inline-block */
    min-height: 16px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: bottom;
    zoom: 1;
    *display: inline;
    _height: 16px;
}
.vcard .card-offices.closed h2 .icon {
	background-position: 0px -299px
}
.vcard .card-offices.closed .office-list {
	display: none;
}
.vcard .card-offices .office-list {
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 0.5em;
}
.vcard .card-offices .office-list tr.odd {
	background-color: #f1f1f1;
}
#main .vcard .card-offices .office-list tr td {
	padding-top: 8px;
	padding-right: 4px;
	padding-bottom: 8px;
	padding-left: 4px;
	vertical-align: top;
	border: none;
}
#main .vcard .card-offices .office-list tr .office-image {
	padding-left: 40px;
}
.vcard .card-offices .office-list tr .office-image img {
	width: 50px;
}
.vcard .card-offices .office-list tr .office-address {
	padding-right: 20px;
}
.vcard .card-offices .office-list tr .office-address h3 {
	font-size: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	white-space: nowrap;
}
.vcard .card-offices .office-list tr .office-phones {
	padding-right: 20px;
}
.vcard .card-offices .office-list tr .office-phones .office-phonelist {
	list-style-type: none;
}
.vcard .card-offices .office-list tr .office-phones .office-phonelist li {
	list-style-type: none;
	line-height: normal;
	padding-bottom: 0.3em;
	color: #000;
	white-space: nowrap;
}
.vcard .card-offices .office-list tr .office-phones .office-phonelist li i {
	font-style: normal;
	font-size: 90%;
	color: #666;
	display: block;
	line-height: normal;
}
.vcard .card-offices .office-list tr .office-desc {
	color: #666;
}
