@charset "utf-8";

/* POLDEN.info home page */


#main #page #home-h1 {
	margin-top: 0px;
}


#map-widget #map-widget-content {
	position: absolute;
	top: 0px;
	right: 0px;
}
#map-widget #map-widget-shadow {
	height: 100%;
	position: relative;	
	
	/* shadow */
	-webkit-box-shadow: rgba(0,0,0,0.5) 0 3px 6px inset;
	-moz-box-shadow: rgba(0,0,0,0.5) 0 3px 6px inset;
	box-shadow: rgba(0,0,0,0.5) 0 3px 6px inset;
}



/* Content sidebar */

#content .content-sidebar {
	float: right;
	width: 30%;
	min-width: 200px;
	margin-left: 30px;
}
.content-sidebar #top-tabs {
	margin-bottom: 20px;
}
#top-tabs .ui-tabs-nav li {
	width: 45%;
}
#top-tabs .ui-tabs-nav li a {
	text-align: center;
	padding-left: 0em;
	padding-right: 0em;
	width: 100%;
}
#top-tabs .top-tab {
	padding-right: 0px;
	padding-left: 0px;
}


.content-sidebar .top-list {
	list-style-type: none;
	line-height: normal;
	margin-top: 10px;
	padding-right: 1em;
	padding-left: 1em;
}
.content-sidebar .top-list li {
	list-style-type: none;
	position: relative;
	margin-left: 28px;
	padding-bottom: 8px;
	zoom: 1;
}
.content-sidebar .top-list li h4 {
	font-size: 110%;
	margin-bottom: 0.1em;
	display: inline;
	margin-right: 0.3em;
}

.content-sidebar .top-list li i {
	font-size: 90%;
	font-style: normal;
	white-space: nowrap;
	display: inline-block;
}
.content-sidebar .top-list li i a {
	color: #666;
}
.content-sidebar .top-list li .tag {
	position: absolute;
	top: 1px;
	left: -28px;
	width: 20px;
	padding-right: 1px;
	padding-left: 1px;
}

.content-sidebar #content-ads {
	background-color: #f1f1f1;
	padding: 20px;
	font-size: 90%;
}
.content-sidebar #recomended {
	margin-bottom: 20px;
}
#recomended .recomended-list {
	list-style-type: none;
}
#recomended .recomended-list li {
	margin-bottom: 1em;
	line-height: normal;
	list-style-type: none;
	font-size: 90%;
	padding-left: 1em;
	padding-right: 1em;
	overflow: hidden;
	zoom: 1;
}
#recomended .ui-tabs .ui-tabs-panel {
	padding-left: 0;
	padding-right: 0;
}
#recomended .recomended-list li h4 {
	margin-bottom: 0px;
}
#recomended .recomended-list li img {
	float: right;
	height: 67px;
	width: 67px;
	margin-bottom: 4px;
	margin-left: 4px;
	margin-top: 4px;
}


/* End of Content sidebar */


/* Content main */

#content #content-main {
}

#content #reviews {
	margin-bottom: 0;
}
#reviews #reviews-tabs .review-tab {
	padding-right: 0px;
	padding-left: 0px;
}

#reviews .review-list{
	list-style-type: none;
	overflow: hidden;
	margin-top: 10px;
	padding-right: 1em;
	padding-left: 1em;
}
#reviews .review-list li {
	position: relative;
	font-size: 110%;
	line-height: normal;
	margin-bottom: 8px;
	color: #999;
	display: block;
	margin-left: 28px;
	padding-right: 38px;
	height: 30px;
}
#reviews .review-list li .review-viewport {
	overflow: hidden;
}
#reviews .review-list li .tag {
	position: absolute;
	left: -28px;
	top: 1px;
	width: 20px;
	padding-right: 1px;
	padding-left: 1px;
}
#reviews .review-list li .avatar {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 0px;
	right: 0px;
	
	/* border radius */
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-khtml-border-radius: 3px;
}
#reviews .review-list li .review-brief {
	font-size: 90%;
}
#reviews .review-list li a.review-brief {
	color: #333;
}
#reviews .review-list li .review-author {
	font-size: 80%;
}
#reviews .ui-tabs .ui-tabs-nav li a {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#news {
	overflow: hidden;
}

#news .news-list {
	list-style-type: none;
	margin-top: 10px;
}
#news .news-list li {
	list-style-type: none;
	padding-bottom: 15px;
	zoom: 1;
}
#news .news-list li .news-image {
	float: left;
	width: 90px;
	margin-top: 4px;
	margin-right: 20px;
	margin-bottom: 4px;
}
#news .news-list.right-align li .news-image {
	float: right;
	margin-right: 0px;
	margin-left: 20px;
}

#news .news-list li .news-text {
	margin-left: 110px;
}
#news .news-list.right-align li .news-text {
	margin-right: 110px;
	margin-left: 0px;
}
#news .news-list li .news-text h3 {
	font-size: 100%;
	margin-bottom: 2px;
}

#news .news-list li .news-stats {
	margin-top: 4px;
	font-size: 90%;
	color: #999;
}
#news .news-list li .news-stats a {
	color: #999;
}
#news .news-list li .tag {
	margin-right: 6px;
	/* border radius */
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	-khtml-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	-khtml-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-khtml-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-khtml-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
#news .news-list li.news-primary .news-image {
	width: 180px;
}
#news .news-list li.news-primary .news-text {
	margin-left: 0px;
}
#news .news-list.right-align li.news-primary .news-text {
	margin-right: 0px;
}
#news .news-list li.news-primary .news-text h3 {
	font-size: 120%;
	margin-bottom: 4px;
}
#news .news-list li.news-primary .news-stats {
	margin-top: 8px;
}
#news .news-list li.news-primary .news-tags {
	display: block;
	margin-bottom: 4px;
}
#news .news-list li.news-highlighted {
	background-color: #e3f2fd;
	border: 1px solid #cad2d8;
	padding: 10px;
	position: relative;
	left: -11px;
	top: 0px;
	margin-bottom: 10px;
}
#news .news-list.right-align li.news-highlighted {
	left: 0px;
	right: -11px;
}

#news .ui-tabs .ui-tabs-nav li a {
	padding-left: 1em;
	padding-right: 1em;
}

#vote #vote-form {
	margin-bottom: 1em;
}

#vote #vote-form label {
	line-height: normal;
}
#vote #vote-form p {
	margin-bottom: 0.7em;
}
#weather #weather-tabs .weather-tabs-forecast {
	padding-right: 0px;
	padding-left: 0px;
}

#weather .weather-table {
	width: 100%;
	margin-top: 10px;
	top: 0px;
}
#weather .weather-table tr th {
	font-size: 90%;
	font-weight: normal;
	color: #999;
	text-align: left;
	padding-left: 2px;
}
#weather .weather-table td {
	padding-top: 4px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 2px;
	vertical-align: top;
}
#weather .weather-table tr.even {
	background-color: #f1f1f1;
}
#weather .weather-table h3 {
	font-size: 140%;
	margin-bottom: 0.1em;
}
#weather .weather-table .weather-dayoff h3 {
	color: #f00;
}
#weather .weather-table .weather-day {
	padding-left: 1em;
	white-space: nowrap;
}
#weather .weather-table .weather-icon {
	/* display-block hack from http://blog.grakhov.com/post/99406348/inline-block */
    min-height: 18px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    _height: 18px;
}


#weather .weather-table .weather-daytemp {
	font-size: 140%;
	font-weight: bold;
	color: #000;
	white-space: nowrap;
	line-height: normal;
}
#weather .weather-table .weather-nighttemp {
	font-size: 140%;
	color: #666;
	white-space: nowrap;
	line-height: normal;
}
#weather .weather-table .weather-wind {
	white-space: nowrap;
}

#weather .weather-table .weather-cond {
	font-size: 90%;
}

#content #news {
}


/* End of Content main */
