@charset "utf-8";

/* POLDEN.info main style */

/*
Master Page Elements
*/

/* Tag Elements */

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 75%;
	background-color: #fff;
	line-height: 150%;
}

a, .anchor {
	color: #1a3dc1;
	text-decoration: none;
}

a:hover, .anchor:hover {
	text-decoration: underline;
}

.anchor {
	cursor: pointer;
	display: inline;
}

img {
	border: none;
}

h1, h2, h3, h4, h5, h6, .heading {
	color: #000;
	font-weight: normal;
}

h1, .heading.h1 {
	font-size: 200%;
	margin-bottom: 1.2em;
	margin-top: 1em;
}

h2, .heading.h2 {
	font-size: 180%;
	margin-bottom: 1em;
}

h3, .heading.h3 {
	font-size: 150%;
	margin-bottom: 0.8em;
}

h4, .heading.h4 {
	font-size: 120%;
	margin-bottom: 0.6em;
}

h5, .heading.h5 {
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0.5em;
}

h6, .heading.h6 {
	font-size: 100%;
	margin-bottom: 0.1em;
}

.heading {
	display: block;
}

p {
	margin-bottom: 0.5em;
}


/* Unique Elements */

#header {
	background-color: #001c47;
}

#header #header-content {
	height: 50px;
	padding-top: 12px;
	background-color: #001c47;

}
#header #logo {
	background-image: url(../images/polden.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-indent: -1000em;
	height: 25px;
	width: 120px;
	float: left;
	margin-top: 24px;
	display: inline;
	margin-left: 20px;
}

/* City list */

#header #city-selector {
	float: left;
	display: inline;
	width: 100px;
	margin-left: 25px;
	color: #b3dffd;
	padding-top: 32px;
}

#city-selected {
	font-size: 16px;
	color: #b3dffd;
	text-decoration: none;
	position: relative;
	outline: 0;
	z-index: 995;
	border-bottom: 1px dashed #b3dffd;
	overflow: visible;
}
#city-selected:hover, #city-selected:focus {
	border-bottom: none;
}

#city-popup-wrapper {
	position: relative;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	z-index: 990;
}
#city-popup-wrapper #city-popup {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 900;
	padding-top: 1.5em;
	display: none;
}
#city-popup-wrapper.open #city-popup {
	display: block;
}

#city-popup-wrapper.open #city-selected {
	color: #000;
	border-bottom: none;
}

#city-popup-wrapper .icon  {
	height: 18px;
	width: 12px;
	background-position: 5px -93px;
	
	/* display-block hack from http://blog.grakhov.com/post/99406348/inline-block */
    min-height: 18px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    _height: 18px;
}

#city-popup-wrapper.open .icon {
	display: none;
}

#city-popup #city-list {
	padding-top: 1em;
	padding-bottom: 0em;
	font-size: 14px;
	line-height: normal;
	min-width: 110px;
    display: block;
}
#city-list a {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-decoration: none;
	display: block;
	padding-right: 10px;
	padding-left: 10px;
	white-space: nowrap;
}
#city-list a:hover {
	background-color: #e6f1fb;
}
#city-list a.selected {
	color: #000;
}

#city-list a.selected:hover {
    background: none;
}

/* End of City list */


#header #account {
	float: right;
	text-align: right;
	width: 140px;
	color: #747474;
	display: inline;
	margin-right: 20px;
}
#header #account a {
	color: #e5e5e5;
	margin-left: 2px;
	margin-right: 2px;
}
#header #account #current-weather {
	margin-top: 14px;
	color: #b3dffd;
	font-size: 120%;
	font-weight: bold;
}
#current-weather #current-weather-selector a {
	color: #b3dffd;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #b3dffd;
	text-decoration: none;
	font-weight: normal;
}
#current-weather #current-weather-selector a:hover {
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


#header #navigation {
	margin-right: 170px;
	margin-left: 350px;
}

#header #navigation a {
	color: #e5e5e5;
}

#header #navigation #sections {
	list-style-type: none;
	overflow: hidden;
	font-size: 110%;
	padding-left: 9px;
	white-space: nowrap;
}
#header #navigation #sections li {
	display: inline;
	list-style-type: none;
	margin-right: 25px;
	white-space: nowrap;
}
#header #navigation #sections li.last-section {
	margin-right: 0;
}
#header #navigation #search {
	margin-top: 8px;
}
#search #search-form {
	white-space: nowrap;
}
#search-form #search-input {
	width: 75%;
	outline: none;
	color: #333;
	font-size: 14px;
	line-height: 16px;
	padding-right: 8px;
	padding-left: 8px;
	height: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: visible;
	border: 1px solid #000;
	
	/* border radius */
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; -khtml-border-top-left-radius: 3px; border-top-left-radius: 4px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; -khtml-border-top-right-radius: 3px; border-top-right-radius: 4px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; -khtml-border-bottom-left-radius: 3px; border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; -khtml-border-bottom-right-radius: 3px; border-bottom-right-radius: 4px;
		
	/* shadow */
	/*
	-webkit-box-shadow: rgba(0,0,0,0.4) 0 1px 2px inset;
	-moz-box-shadow: rgba(0,0,0,0.4) 0 1px 2px inset;
	box-shadow: rgba(0,0,0,0.4) 0 1px 2px inset;
	*/
}
#search-form #search-submit {
	font-size: 14px;
	height: 26px;
	line-height: 16px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 14px;
	padding-right: 14px;
	top: -1px;
	
	display: inline-block;
	vertical-align: bottom;
}

#search-form #search-submit:hover {
	background-position: center -26px;
}
#main {
}
#main #page {
	overflow: hidden;
}

#page #sidebar {
	float: left;
	width: 300px;
	display: inline;
	margin-left: 20px;
}
#page #sidebar #catalog-tabs {
	margin-bottom: 20px;
}
#page #sidebar #catalog-tree {
	line-height: normal;
}
#catalog-tree li {
	margin-bottom: 0.8em;
}
#catalog-tree li span {
	font-size: 125%;
	color: #1a3dc1;
	text-decoration: none;
	font-weight: bold;
}
#catalog-tree li span:hover {
	text-decoration: underline;
}
#catalog-tree.treeview li ul li {
	padding-left: 10px;
	font-size: 110%;
	margin-bottom: 0;
}
#catalog-tree.treeview li ul li a {
	color: #333333;
	text-decoration: none;
}
#catalog-tree.treeview li ul li a:hover {
	text-decoration: underline;
}
#catalog-tree.treeview li ul li i {
	color: #999;
	font-size: 80%;
	font-style: normal;
}
#page #sidebar #companies {
	list-style-type: none;
}
#companies li {
	list-style-type: none;
	padding-bottom: 10px;
	line-height: normal;
}
#companies li img {
	display: block;
	width: 300px;
}
#companies li a {
	text-decoration: none;
	color: #fff;
	background: #fff;
	display: block;
}
#companies li a:hover {
	color: #1a3dc1;
}
#page #content {
	margin-left: 350px;
	margin-right: 20px;
	height: 1%; /* Fix catalog table page for IE6 */
}
#content #map-widget {
	margin-bottom: 20px;
	height: 230px;
	border: 1px solid #a1a1a1;
	overflow: hidden;
	position: relative;
	
	/* border radius */
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-khtml-border-radius: 3px;
		
}

#footer {
	background-color: #001c47;
	color: #d4d4d4;
	margin-top: 20px;
}
#footer #footer-content {
	background-color: #001c47;
}


#footer a {
	color: #d4d4d4;
	text-decoration: underline;
}

#footer a:hover {
	color: #fff;
	text-decoration: none;
}
#footer #copyright {
	padding-left: 20px;
}
#footer #contacts {
	padding-left: 20px;
}




/* Classes */

.clr {
	clear: both;
}

.clrlft {
	clear: left;
}

.clrrgt {
	clear: right;
}

.fltlft {
	float: left;
}

.fltrgt {
	float: right;
}


.viewport {
	min-width: 1200px;
	max-width: 1560px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 0px;
	padding-left: 0px;
}

.tabs {
}
.tab-block {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}

.block-border {
	height: 250px;
	width: 1px;
	position: absolute;
	background-image: url(../images/block-border.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.block-border.left {
	left: 0px;
	top: 2px;
}
.block-border.right {
	top: 2px;
	margin-left: 100%;
	left: -1px;
}
.tag {
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 3px;
	font-size: 11px;
	color: #FFF;
	background-color: #ff9900;
	text-align: center;
	line-height: normal;
	margin-right: 4px;
	position: relative;
	
	/* border radius */
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-khtml-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-khtml-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-khtml-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-khtml-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	
	/* display-block hack from http://blog.grakhov.com/post/99406348/inline-block */
    min-height: 14px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: bottom;
    zoom: 1;
    *display: inline;
    _height: 14px;
}

.tag.gray {
	background-color: #a7a7a7;
}
.tag.light-gray {
	background-color: #dcdcdc;
}
.tag.blue {
	background-color: #50a8e7;
}
.tag.blue.tag-comments {
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	padding-left: 4px;
}
.tag.purple {
	background-color: #254cc5;
}
.tag-arrow {
	width: 4px;
	height: 4px;
	background-image: url(../images/icons.png);
	position: absolute;
	background-repeat: no-repeat;
}

.tag .tag-arrow {
	left: -4px;
	top: 3px;
	position: absolute;
}

.tag.blue .tag-arrow {
	background-position: 0 0;
}
.tag.purple .tag-arrow {
	background-position: 0px -900px;
}

.pin {
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	line-height: normal;
	position: relative;
	width: 18px;
	
	background: url(../images/icons.png) no-repeat 1px -1300px;
	
	/* display-block hack from http://blog.grakhov.com/post/99406348/inline-block */
    min-height: 20px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    _height: 20px;
}

/* Icons */

.icon {
	background: url(../images/icons.png) no-repeat;
}

/* Popups */

.popup {
	border: 1px solid #ccc;
	
	/* shadow */
	-webkit-box-shadow: rgba(0,0,0,0.4) 0 1px 8px;
	-moz-box-shadow: rgba(0,0,0,0.4) 0 1px 8px;
	box-shadow: rgba(0,0,0,0.4) 0 1px 8px;
	background-color: #FFF;
}
.pager {
	list-style-type: none;
	overflow: hidden;
}
.pager li {
	list-style-type: none;
	display: inline;
	float: left;
	font-size: 120%;
	margin-right: 1em;
	padding-top: 2px;
	padding-bottom: 2px;
}
.pager li a {
}

.pager .selected-page {
	font-weight: bold;
	color: #FFF;
	background-color: #b8b8b8;
	/* border radius */
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-khtml-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-khtml-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-khtml-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-khtml-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-right: 4px;
	padding-left: 4px;
}

.found-results {
	margin-bottom: 1em;
	color: #000;
	margin-top: 1em;
}
.found-results .found-query {
	font-size: 120%;
	font-weight: bold;
}
.found-results .found-stats {
	color: #999;
}

.button-gray .ui-button.ui-state-default {
	border-color: #999;
	color: #999;
	background-position: center -60px;
}
.button-gray .ui-button.ui-state-hover {
	border-color: #666;
	color: #333;
	background-position: center -90px;
}
.button-gray .ui-button.ui-state-active {
	background-image: none;
}

.button-grayglossy .ui-button.ui-state-default {
	border-color: #ddd;
	color: #3C3C3C;
	background-position: center -120px;
}
.button-grayglossy .ui-button.ui-state-hover {
	border-color: #ccc;
	background-position: center -150px;
}